@keyframes heartAnimation{
  0%{ transform: translateX(-50%) scale(1) }
  50%{ transform: translateX(-50%) scale(1.2) }
  100%{ transform: translateX(-50%) scale(1) }
}


@mixin lineBottom($bgColor) {
  display: inline-block;
   &:after{
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background: $bgColor;
  }
}


// =============== IMAGE_URL ===============
@function image_url($name) {
  @return url("../assets/#{ $name }");
}

// =============== CLEAR ===============

@mixin clearBefore {
  &:before {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin clearAfter {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin clearFix {
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// =============== PLACEHOLDER HACK ===============

@mixin placeholderHack($font_color, $font_size, $font_weight) {
  color: $font_color;
  font-size: $font_size;
  font-weight: $font_weight;
  opacity: 1;
}

@mixin placeholderMix($text_color, $text_size, $font_weight:inherit) {
  &::-webkit-input-placeholder  { @include placeholderHack($text_color, $text_size, $font_weight); }
  &:-moz-placeholder            { @include placeholderHack($text_color, $text_size, $font_weight); }
  &::-moz-placeholder           { @include placeholderHack($text_color, $text_size, $font_weight); }
  &:-ms-input-placeholder       { @include placeholderHack($text_color, $text_size, $font_weight); }
}