.about{
  padding: 30px 0;
  text-align: center;
  background: #efefef;
}

.about__title{
  @include lineBottom(#24a542);
  color: #24a542;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 20px;
  @include smMin{
    font-size: 4rem;
    padding-bottom: 30px;
  }
}

.about__list--holder{
  padding: 0;
  margin: 0;
  list-style-type: none;
  @include smMin{
    display: flex;
  }
}

.about__list--item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  color: #fff;
  margin: 0 auto 15px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background: image_url('about-img.jpg') no-repeat center center;
  @include xsMin{
    width: 350px;
    min-height: 350px;
  }

  @include smMin{
    width: calc(100% / 3);
    min-height: 200px;
    margin: 0 10px 0 0;
    padding: 10px;
  }

  &:hover{
    .item--title{
      margin-bottom: 10px;
      transition: margin .2s ease-in-out;
      &:before{
        transform: translateX(-50%) scale(1.5);
        transition: transform .2s ease-in-out;
      }
    }
    .item--desc{
      position: relative;
      opacity: 1;
      transition: opacity .2s ease-in-out;
    }
  }

  .item--title{
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -40px;
    transition: margin .2s ease-in-out;
    @include xsMin{
      font-size: 2.5rem;
    }
    &:before{
      content: '';
      position: absolute;
      top: -100%;
      left: 50%;
      display: inline-block;
      width: 20px;
      height: 20px;
      transform: translateX(-50%);
      background: image_url('icon-heart.svg') no-repeat center center;
      background-size: contain;
      animation: heartAnimation 1s ease-in-out infinite forwards;
    }
  }

  .item--desc{
    opacity: 0;
    position: absolute;
    font-size: 1.6rem;
  }
}