html {
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  font-size: 10px;
}

html, body {
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #000;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p {
  font-weight: 400;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover, &:focus,
  &.hover, &.focus {
    color: inherit;
    text-decoration: none;
    outline: 0;
    outline-offset: 0;
  }
}

button,
textarea,
input {
  &:focus { outline: none; }
}