.benefits{
  text-align: center;
  color: #fff;
  padding: 30px 0;
  background: #24a542;
}

.benefits__title{
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 20px;
  @include smMin{
    font-size: 4rem;
    padding-bottom: 30px;
  }

  &:after{
    content: "";
    display: block;
    height: 4px;
    width: 50px;
    margin: auto;
    background-image: repeating-linear-gradient(to right, #fff, #fff 5px, transparent 5px, transparent 10px)
  }
}

.benefits__list{
  @include smMin{
    display: flex;
  }
}

.benefits__list--holder{
  padding: 0 0 20px;
  margin: 0;
  text-align: left;
  list-style-type: none;
  @include smMin{
    padding: 0 30px 0 0;
  }
}

.benefits__list--title{
  font-size: 1.7rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.benefits__list--item{
  position: relative;
  font-size: 1.6rem;
  padding: 0 0 10px 25px;
  @include smMin{
    padding-bottom: 10px;
  }
  &:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-right: 10px;
    background: image_url('icon-arrow.svg') no-repeat center center;
    background-size: contain;
  }
}


.benefits__list--btn{
  display: block;
  width: 50%;
  margin: 15px auto 0;
}