.btn{
  width: 100%;
  min-height: 45px;
  color: #24a542;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: bold;
  border: 2px solid #24a542;
  background: transparent;
  transition: all .2s ease-in-out;
}

.form__btn{
  @extend .btn;
  &:hover{
    transition: all .2s ease-in-out;
    color: #fff;
    font-size: 1.9rem;
    box-shadow: 0px -42px 0px 0px #24a542 inset, 0px 42px 0px 0px #24a542 inset;
  }
}


.benefits__list--btn{
  @extend .btn;
  color: #fff;
  border: 2px solid #fff;
  &:hover{
    transition: all .2s ease-in-out;
    color: #24a542;
    font-size: 1.9rem;
    box-shadow: 0px -42px 0px 0px #efefef inset, 0px 42px 0px 0px #efefef inset;
  }
}