.contact{
  padding: 30px 0;
  text-align: center;
  background: #efefef;
}

// ==================== .contact__title ====================

.contact__title{
  @include lineBottom(#24a542);
  display: inline-block;
  color: #24a542;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 20px;
  @include smMin{
    font-size: 4rem;
    padding-bottom: 30px;
  }
}

.contact__form{
  text-align: left;
  @include smMin{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 700px;
    margin: 0 auto;
  }
}

// ==================== .form__label--wrapper ====================

.form__label--wrapper{
  width: 100%;
  padding-bottom: 10px;

  &.label--name,
  &.label--email{
    @include smMin{
      width: 47%;
    }
  }

  &.label--subject{
    display: none;
    &.active{ display: block; }
  }
}

// ==================== .form__label ====================

.form__label{
  display: block;
  width: 100%;
  color: #000;
  font-size: 1.6rem;
  padding-bottom: 5px;
}

// ==================== .form__input ====================

.form__input{
  width: 100%;
  height: 40px;
  color: #333;
  padding: 10px 15px;
  font-size: 1.6rem;
  border: 2px solid #fff;
  transition: border .2s linear;

  &:focus{
    transition: border .2s linear;
    border-color: #24a542;
  }

  &#message{
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;
  }
}

// ==================== .label--radio ====================

.label--radio{
  width: 290px;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 1.6rem;
  border: none;
}

.form__input--radio{
  cursor: pointer;
}

// ==================== .label--checkbox ====================

.label--checkbox{
  input{
    display: none;
    &:checked + .form__label:before{
      content: "\2713";
      color: #24a542;
      transition: all .2s linear;
    }
  }

  .form__label{
    position: relative;
    padding-left: 24px;
    cursor: pointer;

    &:before{
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 2px;
      background: #fff;
    }
  }
}