// ==================== .footer ====================

.footer{
  text-align: center;
  color: #000;
  font-size: 1.4rem;
  background: #fff;
  padding: 30px 0;
  @include smMin{
    text-align: left;
  }

  .row{
    @include smMin{
      display: flex;
    }
  }
  .col-sm-6:first-of-type{
    @include smMin{
      display: flex;
      align-items: center;
    }
  }
}

// ==================== .footer__copyright ====================

.footer__copyright{
  @include xsMax{
    display: block;
    padding-bottom: 20px;
  }
}

// ==================== .footer__contact ====================

.footer__contact{
  @include smMin{
    text-align: right;
  }
}

.footer__link{

  &:hover, &:focus, &:active{
    color: #24a542;
  }
}