.header{
  position: fixed;
  width: 100%;
  padding: 30px 0;
  background: #fff;
  z-index: 1;
  box-shadow: 0px -10px 20px 0px #000;

  .col-xs-12{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// ==================== .header__logo ====================

.header__logo{
  display: inline-block;
  position: relative;
  left: 14px;
  font-size: 0;
  margin: 0 auto;
  @include smMin{
    left: 0;
    margin: 0;
  }
  &:before{
    content: "";
    display: block;
    width: 161px;
    height: 29px;
    background: image_url('logo.svg') no-repeat center center;
  }
}

.header__logo--link{
  display: inline-block;
  text-indent: -9999em;
}

// ==================== .header__button ====================

.header__button{
  display: inline-block;
  width: 28px;
  height: 30px;
  padding: 0;
  border: none;
  background: transparent;
  @include smMin{
    display: none;
  }

  span {
    position: relative;
    display: block;
    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -9px;
    }
    &:after{
      top: 9px;
    }
  }

  span,
  span:after,
  span:before {
    width: 100%;
    height: 5px;
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  &.active{
    span {
      background-color: transparent;
      &:before {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:after {
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }
  }
}

// ==================== .header__menu ====================

.header__menu{
  position: fixed;
  top: 90px;
  left: -100%;
  width: 0;
  min-height: 100vh;
  background: #fff;
  z-index: 1;
  transition: all .2s ease-in-out;
  @include smMin{
    display: block;
    position: static;
    width: auto;
    min-height: auto;
    margin-left: auto;
  }

  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    @include smMin{
      flex-direction: row;
    }
  }

  &.active{
    left: 0;
    width: 100%;
    transition: all .2s ease-in-out;
  }
}

.header__menu--item{
  a{
    display: block;
    position: relative;
    font-size: 2.3rem;
    font-weight: 700;
    padding: 10px;
    color: #000;
    cursor: pointer;

    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      height: 4px;
      width: 0;
      background: #24a542;
      transition: width .2s ease-in-out;
    }

    &:hover{
      &:before{
        width: 100%;
        transition: width .2s ease-in-out;
      }
    }
  }
}