// ==================== main ====================

main{
  overflow: hidden;
  min-height: calc(100vh - 160px);
  @include smMin{
    min-height: calc(100vh - 124px);
  }
}

// ==================== .hero ====================

.hero{
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 120px;
  background: #fff;
  min-height: 100vh;
  overflow: hidden;
  @include smMin{
    padding-top: 280px;
  }

  .container-fluid{
    @include smMin{
      margin-top: -40vh;
      @include mdMax{
        width: 70vw;
        margin: -40vh 0 0;
      }
    }
  }
}

// ==================== .hero__title ====================

.hero__title{
  color: #000;
  font-size: 9rem;
  font-weight: bold;
  line-height: 7rem;
  padding-bottom: 20px;
  @include smMin{
    font-size: 11rem;
    line-height: 9rem;
    padding-bottom: 40px;
  }
}

.hero__desc{
  color: #222;
  font-size: 3rem;
  padding-bottom: 20px;
  @include smMin{
    padding-bottom: 40px;
  }
}


.hero__wrapper--img{
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(295deg);
  width: 900px;
  height: 900px;
  overflow: hidden;
  opacity: 0.5;
  @include smMin{
    width: 1200px;
    height: 1200px;
  }
  @include lgMin{
    top: 12%;
  }
}

.hero__img{
  position: absolute;
  left: -21%;
  top: 50%;
  width: 100%;
  height: 100%;
  background: image_url('hero-img.jpg') no-repeat 130px 0;
  background-size: cover;
  transform: translate(-50%, -50%) rotate(45deg);
  @include smMin{
    background-position: 80px -190px;
  }
}