// ==================== .office ====================

.office{
  position: relative;
  height: 200px;
  background: image_url('office-img.jpg') no-repeat center center;
  background-size: cover;

  .col-xs-12{
    height: 200px;
  }
}

// ==================== .office__text ====================

.office__text{
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #24a542;
  text-align: right;
  font-size: 3rem;
  font-weight: bold;
  background: white;
  padding: 5px 15px;
  @include xsMin{
    font-size: 4rem;
  }
  @include lgMin{
    right: 15px;
  }
}